html,body{
    margin:0;
    padding:0;
}
.container{
    max-width: 1440px;
    height: 768px;
    margin-top: 0px;
    background-color: rgba(67, 76, 204,0.05);
    display:flex;
}
.homero{
    h5{
        width: 93px;
        height: 24px;
        margin-top: 127px;
        margin-left: 135px;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3em;
    }
    h2{
        width: 411px;
        height: 128px;
        margin-top: 21px;
        margin-left: 135px;
        font-size: 56px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0px;
    }
    .quo{
        width: 570px;
        height: 83px;
        margin-top: 29px;
        margin-left: 135px;
        color: #000000;
        line-height:32px;
        font-size:20px;
    }
}
.numbers{
    margin-top:30px;
    width:705px;
    display:flex;
}
.para1{
    color:#000000;
    margin-left:0px;
    margin-top:10px;
}
.para2{
    width:270px;
    height:49px;
    color:#00000080;
    font-size:medium;
    margin-left:0px;
}
.num1{
    margin-left:135px;
    h3{
        height:48px;
        width:86px;
        line-height: 48px;
        font-size:40px;
        margin-bottom:0px;  
    }
    .para1{
        height:24px;
        margin-top:10px;
    }
}
.num2{
    margin-left:30px;
    h3{
        height:48px;
        width:98px;
        line-height: 48px;
        font-size:40px;
        margin-bottom:0px;
    }
    .para1{
        height:24px;
        margin-top:10px;
    }
}
.clip_v{
    width:724px;
    height:718px;
    margin-left:10px;
    margin-top:-3px;
    display:flex;
    justify-content:center;
    align-items:center;
    img{
        width:1077px;
        height:718px;
    }
}
@media all and (max-width:375px){
    .container{
        width:375px;
        height:1152px;
        flex-direction: column;
    }
    .homero{
        h5{
            width: 93px;
            height: 24px;
            margin-top: 47px;
            margin-left: 14px;
        }
        h2{
            width: 294px;
            height: 96px;
            margin-top: 17px;
            margin-left: 14px;
            font-size:40px;
            line-height:48px;
        }
        .quo{
            width: 346px;
            height: 135px;
            margin-top: 31px;
            margin-left: 14px;
            margin-bottom:0px;
        }  
    }
    .numbers{
        flex-direction:column;
        width:375px;
        margin-top:0px;
    }
    .num1{
        margin-left:14px;
        h3{
            margin-top:0px;
        }
    }
    .num2{
        margin-left:14px;
        h3{
            margin-top:0px;
        }
    }
    .clip_v{
        width:375px;
        height:431px;
        margin-top:0px;
        img{
            width:375px;
            height:431px;
            margin-left:-60px;
        }
    }  
}