.sonali {
  width: 1440px;
  height: 352px;
  background-color: #ffdd78;
  display: flex;
  margin: auto;

  .left {
    width: 48%;
    p {
      margin-top: 79px;
      padding-left: 135px;
      margin-bottom: 0%;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 4.8px;
      text-transform: uppercase;
    }

    h3 {
      padding-left: 135px;
      margin-top: 21px;
      font-family: DM Serif Display;
      font-size: 56px;
      font-style: normal;
      font-weight: 400px;
      line-height: 64px;
    }
  }

  .right {
    width: 48%;
    margin-top: 160px;

    #search {
      width: 370px;
      height: 48px;
      border-radius: 5px;
      border: 1px solid #dadada;
      background: #fff;
    }
    button {
      width: 170px;
      height: 48px;
      border-radius: 5px;
      background-color: #434ccc;
      color: white;
      border: none;
      margin-left: 30px;
    }
  }
}
@media all and (max-width: 375px) {
  .sonali {
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    .left {
      margin-left: 10px;
      margin-top: 0%;

      p {
        padding-left: 0%;
        margin-top: 60px;
        font-weight: 400px;
      }
      h3 {
        width: 209px;
        height: 144px;
        padding-left: 0px;
        line-height: 48px;
        font-size: 40px;
        // border: 2px solid red;
        margin-bottom: 0px;
      }
    }
    .right {
      margin-top: 50px;
      // border: 2px solid teal;
      margin-left: 10px;
      margin-right: 30px;

      search {
        width: 100%;
        height: 76px;
      }
      button {
        margin-top: 20px;
        width: 170px;
        height: 48px;
        margin-left: 0px;
      }
    }
  }
}

$primary-color: rgb(168, 169, 173);

.footer2nd {
  width: 100%;
  height: 400px;
  padding: 0%;
  margin: 0%;
  // opacity: 0.0515;
  background: rgb(245, 246, 252);
  margin: auto;

  .footer2ndpart {
    width: 80%;
    display: grid;
    // border: 2px solid red;
    padding-top: 5%;
    padding-bottom: 4%;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "fir sec thir fou"
      "fir sec thir fou";
    justify-content: space-around;
    margin: auto;
    gap: 12%;
    .footer2ndpart div:nth-child(1) {
      grid-area: fir;
    }
    .footer2ndpart div:nth-child(2) {
      grid-area: sec;
    }
    .footer2ndpart div:nth-child(3) {
      grid-area: thir;
    }
    .footer2ndpart div:nth-child(4) {
      grid-area: fou;
    }

    .social-media > img {
      margin-right: 10px;
    }
  }

  .conform {
    display: flex;
    gap: 8%;
    align-items: center;
    // border: 2px solid blue;
    img {
      border-radius: 10px;
      margin-top: -30px;
    }
    p {
      color: $primary-color;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
    #data1 {
      color: #000;

      /* Text_Small */
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 200% */
    }
    #data2 {
      color: #000;

      /* Text_Small */
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 200% */
    }
  }

  h4 {
    color: rgb(15, 15, 15);
    /* H4 */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400px;
    line-height: 32px; /* 133.333% */
  }

  .footer2ndpart > div > p {
    color: $primary-color;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  div > h5 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 24px; /* 150% */
  }
}
@media all and (max-width: 375px) {
  .footer2nd {
    width: 100%;
    height: 720px;
    padding: 0%;
    margin: 0%;
    // opacity: 0.0515;
    background: rgb(245, 246, 252);
    // border:1px solid;
    margin: auto;

    .footer2ndpart {
      width: 80%;
      display: grid;
      // border: 2px solid red;
      padding-top: 2%;
      padding-bottom: 2%;
      // grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "fir fir"
        "sec thir"
        "fou fou";
      // justify-content: space-around;
      margin: auto;
      gap: 1%;
      // flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      div:nth-child(1) {
        grid-area: fir;
        //  border: 1px solid blue;
      }
      div:nth-child(2) {
        grid-area: sec;
      }
      div:nth-child(3) {
        grid-area: thir;
      }
      div:nth-child(4) {
        grid-area: fou;
      }

      .social-media > img {
        margin-right: 10px;
      }
    }
  }
}

.lastpart {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: rgb(245, 246, 252);

  p {
    color: $primary-color;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  #para1 {
    margin-left: 10%;
  }
  #para2 {
    margin-right: 10%;
  }
}

@media all and (max-width: 375px) {
  .lastpart {
    width: 100%;
    display: block;
    p {
      color: $primary-color;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    #para2 {
      margin-left: 10%;
    }
  }
}
