.tantas {
  width: 1440px;
  height: 768px;
  margin: auto;
  display: flex;
  gap: 62px;
}

#t2 {
  width: 600px;
  height: 500px;
  font-weight: 100;
  font-size: larger;
}
#t2 > h4 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#t2 > h2 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
#t2 > p {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
#t2 > button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  color: white;
  background-color: #434ccc;
}

#t1 {
  width: 889px;
  height: 500px;
  flex-shrink: 0;
  background-image: url("https://s3-alpha-sig.figma.com/img/c88b/0bc7/ec8c1618bac9fe2b94bcf9d9a4d3cdad?Expires=1703462400&Signature=k356DByLCFMI3X8E3WYrr1Q0JDZEgqh~vuAxKWfzYrX9O9v8H9gjQIsr4h2EpHoxuZOWveQ3gqHrE1cd6dHusiJx~n1012x4Ryp6GlWHn9I2tCBxkaCk5t1Q~DRPEotBD~9mxTdnJyH9GhqGaO4dE5aCeyo7f4pNNUrNSzN8JvdP3MF9i7YgwExlQDUB-15YGpRX8teCDFdVqKc2qen8BqMcEe4iDbTBMKUvJjgEGoO5bZBHgqsXTU4Q6eqA95SprsE7dW2A6MPKfnXRm5qvZELlBSq3gFrpUJgfE1ynYUs2pOURugOzGSw3OMp2dpSSrQFDHQkA5lu9s1Qmw5Ub1Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  background-position: center;
}

.epicuri > h5:nth-child(1) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.noluisse {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  display: flex;
  margin: auto;
}

#n1 {
  width: 600px;
  height: 500px;
  font-weight: 100;
  font-size: larger;
  margin-left: 100px;
  margin-top: 180px;
}
#n1 > h5 {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.epicuri > h5:nth-child(1) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.epicuri > h5:nth-child(2) {
  margin-top: -40px;
  margin-left: 440px;
}

.bar1 {
  width: 470px;
  height: 10px;
  border-radius: 5px;
  background-color: #e9e9e9;
  margin-top: -20px;
  padding: 0;
}

.bar1 > div:nth-child(1) {
  width: 382px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f1b505;
}

.bar2 {
  width: 470px;
  height: 10px;
  border-radius: 5px;
  background-color: #e9e9e9;
  margin-top: -20px;
  padding: 0;
}

.bar2 > div:nth-child(1) {
  width: 318px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #e94a47;
}

.bar3 {
  width: 470px;
  height: 10px;
  border-radius: 5px;
  background-color: #e9e9e9;
  margin-top: -20px;
  padding: 0;
}

.bar3 > div:nth-child(1) {
  width: 182px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #428dfc;
}

#n2 {
  width: 1131px;
  height: 754px;
  flex-shrink: 0;
  margin: auto;
  background-image: url("https://s3-alpha-sig.figma.com/img/1a17/42b2/1ee07cdf2a9a37fa71438a2689d8c5f2?Expires=1703462400&Signature=LhJSUjHn71ekbYSxe1Dv0ZF-1HtSknoi3GWDcEkG4AkV1diir7XtoPc7dyY1NqBtL1YrPAPcHrusZlXAzNhU1QO1g5g6kPjbuFSCtZfsPYvWUJeCGF5zsaLyjaPGO~i2PfbfAfaCed9MJjtCnoFuJaN2aNjLnZxFbsDlCZJBRhRcZOsEqgAjmPOaS3SkJkmv3TR7SEyk~K1hbph2xDa9qKQjLdK4QrYppm39ocskUJEh8aLy6EorLOYsABa~gd0u649uvSZ9GReN07pBf6VpEaRYSlIw1vKh9BoQrfJKdaphQCvSCTvq4cnmZslv4KvGbpjLA03w4e3uwXscHkOgFA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-size: cover;
}

.sonali {
  width: 1440px;
  height: 352px;
  background-color: #ffdd78;
  display: flex;
  margin: auto;
}
.sonali .left {
  width: 48%;
}
.sonali .left p {
  margin-top: 79px;
  padding-left: 135px;
  margin-bottom: 0%;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.sonali .left h3 {
  padding-left: 135px;
  margin-top: 21px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400px;
  line-height: 64px;
}
.sonali .right {
  width: 48%;
  margin-top: 160px;
}
.sonali .right #search {
  width: 370px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #dadada;
  background: #fff;
}
.sonali .right button {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background-color: #434ccc;
  color: white;
  border: none;
  margin-left: 30px;
}

@media all and (max-width: 375px) {
  .sonali {
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .sonali .left {
    margin-left: 10px;
    margin-top: 0%;
  }
  .sonali .left p {
    padding-left: 0%;
    margin-top: 60px;
    font-weight: 400px;
  }
  .sonali .left h3 {
    width: 209px;
    height: 144px;
    padding-left: 0px;
    line-height: 48px;
    font-size: 40px;
    margin-bottom: 0px;
  }
  .sonali .right {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
  }
  .sonali .right search {
    width: 100%;
    height: 76px;
  }
  .sonali .right button {
    margin-top: 20px;
    width: 170px;
    height: 48px;
    margin-left: 0px;
  }
}
.footer2nd {
  width: 100%;
  height: 400px;
  padding: 0%;
  margin: 0%;
  background: rgb(245, 246, 252);
  margin: auto;
}
.footer2nd .footer2ndpart {
  width: 80%;
  display: grid;
  padding-top: 5%;
  padding-bottom: 4%;
  grid-template-areas: "fir sec thir fou" "fir sec thir fou";
  justify-content: space-around;
  margin: auto;
  gap: 12%;
}
.footer2nd .footer2ndpart .footer2ndpart div:nth-child(1) {
  grid-area: fir;
}
.footer2nd .footer2ndpart .footer2ndpart div:nth-child(2) {
  grid-area: sec;
}
.footer2nd .footer2ndpart .footer2ndpart div:nth-child(3) {
  grid-area: thir;
}
.footer2nd .footer2ndpart .footer2ndpart div:nth-child(4) {
  grid-area: fou;
}
.footer2nd .footer2ndpart .social-media > img {
  margin-right: 10px;
}
.footer2nd .conform {
  display: flex;
  gap: 8%;
  align-items: center;
}
.footer2nd .conform img {
  border-radius: 10px;
  margin-top: -30px;
}
.footer2nd .conform p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer2nd .conform #data1 {
  color: #000;
  /* Text_Small */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
}
.footer2nd .conform #data2 {
  color: #000;
  /* Text_Small */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
}
.footer2nd h4 {
  color: rgb(15, 15, 15);
  /* H4 */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400px;
  line-height: 32px; /* 133.333% */
}
.footer2nd .footer2ndpart > div > p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer2nd div > h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  line-height: 24px; /* 150% */
}

@media all and (max-width: 375px) {
  .footer2nd {
    width: 100%;
    height: 720px;
    padding: 0%;
    margin: 0%;
    background: rgb(245, 246, 252);
    margin: auto;
  }
  .footer2nd .footer2ndpart {
    width: 80%;
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-areas: "fir fir" "sec thir" "fou fou";
    margin: auto;
    gap: 1%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer2nd .footer2ndpart div:nth-child(1) {
    grid-area: fir;
  }
  .footer2nd .footer2ndpart div:nth-child(2) {
    grid-area: sec;
  }
  .footer2nd .footer2ndpart div:nth-child(3) {
    grid-area: thir;
  }
  .footer2nd .footer2ndpart div:nth-child(4) {
    grid-area: fou;
  }
  .footer2nd .footer2ndpart .social-media > img {
    margin-right: 10px;
  }
}
.lastpart {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: rgb(245, 246, 252);
}
.lastpart p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.lastpart #para1 {
  margin-left: 10%;
}
.lastpart #para2 {
  margin-right: 10%;
}

@media all and (max-width: 375px) {
  .lastpart {
    width: 100%;
    display: block;
  }
  .lastpart p {
    color: rgb(168, 169, 173);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lastpart #para2 {
    margin-left: 10%;
  }
}
.vivendo {
  max-width: 1440px;
  background: #F5F6FD;
  padding: 0 135px 0 135px;
  box-sizing: border-box;
  margin: auto;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.vivendo h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 29px;
}
.vivendo .subtitle {
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  color: var(--Text_Black, hsl(0, 0%, 0%));
  text-align: center;
  margin: auto;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}
.vivendo .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 80px;
}
.vivendo .cards .card {
  width: 370px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.vivendo .cards .card .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  height: 230px;
}
.vivendo .cards .card .card-img img {
  width: 132px;
  height: 114px;
  flex-shrink: 0;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}
.vivendo .cards .card .card-img .vehicle {
  width: 186px;
  height: 96px;
  flex-shrink: 0;
}
.vivendo .cards .card h4 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 32px;
}
.vivendo .cards .card .card-content {
  width: 306px;
  height: 48px;
  margin: auto;
  margin-bottom: 25px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.vivendo .cards .card hr {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background: #000;
  margin-bottom: 18px;
  margin-left: 32px;
}
.vivendo .cards .card .learnmore {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-left: 30px;
}
.vivendo .cards .card .learnmore .arrow-icon {
  width: 6px;
  height: 11px;
  flex-shrink: 0;
  fill: #000;
}

@media all and (max-width: 375px) {
  .vivendo {
    max-width: 375px;
    height: auto;
    padding: 0 15px 0 15px;
  }
  .vivendo h2 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 42px;
    margin-bottom: 31px;
  }
  .vivendo .subtitle {
    width: 346px;
    height: 101px;
    margin-bottom: 50px;
  }
  .vivendo .cards {
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid rgb(225, 224, 224);
  }
  .vivendo .cards .card {
    width: 346px;
  }
  .vivendo .cards .card .card-content {
    width: 282px;
  }
  .vivendo .cards .card hr {
    width: 314px;
  }
}
.inciderint {
  max-width: 1440px;
  height: auto;
  flex-shrink: 0;
  background: #F5F6FD;
  padding: 0 135px 0 135px;
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  box-sizing: border-box;
  padding-bottom: 80px;
}
.inciderint .inciderint-img {
  width: 981px;
  height: 653px;
  flex-shrink: 0;
  margin-top: 29px;
  margin-left: -100px;
  position: absolute;
}
.inciderint .inciderint-content {
  margin-left: 650px;
}
.inciderint .inciderint-content h5 {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 127px;
  margin-bottom: 21px;
}
.inciderint .inciderint-content h2 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 29px;
}
.inciderint .inciderint-content .text {
  width: 570px;
  height: 69px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 21px;
}
.inciderint .inciderint-content .inciderint-icon {
  display: flex;
  align-items: center;
  gap: 25px;
}
.inciderint .inciderint-content .inciderint-icon img {
  width: 41px;
  height: 39px;
  flex-shrink: 0;
}
.inciderint .inciderint-content .inciderint-icon p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.inciderint .inciderint-content .explore-btn {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 45px;
  background: var(--Primary_1, #434CCC);
}
.inciderint .inciderint-content .learnmore-btn {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  color: #434CCC;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 45px;
  margin-left: 30px;
}

@media all and (max-width: 375px) {
  .inciderint {
    width: 375px;
    padding: 0 15px 80px 15px;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
  }
  .inciderint .inciderint-img {
    width: 375px;
    height: auto;
    position: static;
    margin-top: 11px;
    margin-left: 0px;
  }
  .inciderint .inciderint-img img {
    width: 370px;
  }
  .inciderint .inciderint-content {
    margin-left: 0px;
  }
  .inciderint .inciderint-content h5 {
    margin-top: 0px;
    margin-bottom: 19px;
  }
  .inciderint .inciderint-content h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
  }
  .inciderint .inciderint-content .text {
    width: 346px;
    height: 128px;
    line-height: 32px;
    margin-bottom: 21px;
  }
  .inciderint .inciderint-content .inciderint-icon {
    gap: 25px;
  }
  .inciderint .inciderint-content .explore-btn {
    margin-top: 62px;
  }
  .inciderint .inciderint-content .learnmore-btn {
    margin-top: 60px;
    margin-left: 0;
  }
}
body {
  background: #f5f6fc;
}

/*# sourceMappingURL=styles.css.map */
